body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

#message {
    text-align: center;
    height: 40px;
}

#container {
    display: flex;
    flex-flow: row wrap;
    width: 840px;
}

.player {
    background: transparent;
    background-image: url("girl.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.cell {
    width: 40px;
    height: 40px;
}

.floor {
    background-color: white;
}

.wall {
    background-color: navy;
}

.start::after {
    content: "S";
    color: black;
    font-size: 30px;
}

.finish::after {
    content: "F";
    color: black;
    font-size: 30px;
}